*{
    margin: 0;
    padding: 0;
}
.flex{
    display: flex;
}
.in-block{
    display: inline-block;
}

.al-center{
 align-items: center;
}
.ju-center{
    justify-content: center;
}
.pos-rel{
    position: relative;
}
.pos-abs{
position: absolute;
}
.red{
    background: red;
}
.l-left5{
    margin-left: 10px;
}
.hover{
    cursor: pointer;
}

.ju-between{
  justify-content: space-between;  
}
.ju-around{
    justify-content: space-around;
}

.c-red{
    color: red;
}
.hvr:hover{
cursor: pointer;
}

.fz-14{
    font-size: 14px;
}
.fz-12{
    font-size: 12px;
}
.fz-16{
    font-size: 16px;
}
.fz-18{
    font-size: 18px;
}
.orange{
    color: rgb(255,103,0);
}
.flex-d{
    display: flex;
    flex-direction: column;
}
.fz-cu{
    font-weight: 700;
}
.bai{
    color: white;
}
.m-l1{
    margin-left:10px;
}
.m-l2{
    margin-left:20px;
}
.m-l3{
    margin-left:30px;
}
.m-t1{
    margin-top: 10px;
}
.m-t2{
    margin-top: 20px;
}
.m-t3{
    margin-top: 30px;
}
.m-b2{
    margin-bottom: 20px;
}
.flex-w{
    flex-wrap: wrap;
    align-content: flex-start;
}
